table {
    background: rgb(254, 242, 242);
    color:black;
    text-align:center;
    border-width: thick;
    border-color:rgb(146, 127, 105);
    border-style: dashed;
    margin: auto; /* Выравниваем таблицу по центру окна */ 
	width: 70%;
	margin-bottom: 20px; /*устанавливает внешний отступ внизу элемента*/ 
     
	border-collapse:collapse; /*свойство определяет, какую модель рамки вокруг ячеек таблицы следует использовать*/


}
table th {
	border: 1px solid #101010;
	padding: 10px; /* Высота таблицы; внутренние отступы/поля со всех сторон элемента */ 
    font-style:italic
	
}
table td {
	border: 1px solid #101010;
	padding: 5px;
}
table td {
	border: 1px solid #101010;
	padding: 5px;
}